<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title/>
	<link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
</head>

<body>

	<div th:fragment="footer">
		<nav class="navbar navbar-inverse">
			<div class="footer-copyright text-center py-3">
				<h5 style="color:white;"> © 2021 Copyright</h5>
				<h4 style="color:white;">TODO1 - Alejandro Helling</h4>
			</div>
		</nav>
	</div>

</body>

</html>