<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Menú nueva compra TODO1!</title>
	<div th:replace="fragments/header :: header-css" />
	
</head>

<body>
	<div th:replace="fragments/header :: header" />

	<div class="container">
		<div class="card bg-dark">
			<div class="alert alert-dark">
				<h3>ITEM COMPRA</h3>
			</div>
			<div class="container">
				<form th:action="@{/agregarProdCompra}" th:object="${productoCompra}" method='POST' class="form-inline">

					<div class="form-group row">
						<label class="col-sm-2 col-form-label"></label>




						<table class="table"><caption/>
							<thead>
								<tr>
									<th scope>Producto</th>
									<th scope>Cantidad</th>
									<th scope></th>

								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<select th:field="${productoCompra.idProducto}" class="form-control">
											<option th:each="producto : ${productos}" th:value="${producto.id}"
												th:utext="${producto.codigo} + ' - ' + ${producto.nombre}" />
										</select>
									</td>
									<td>
										<div class="col-sm-6">
											<input type="number" th:field="${productoCompra.cantidad}" class="form-control" min="1" max="1000" value="1"/>
										</div>
									</td>

									<td>
										<form>
											<input class="btn btn-primary" type="submit" value="Agregar" />
										</form>
									</td>

								</tr>

							</tbody>
						</table>

					</div>



					<div class="form-horizontal">
						<a class="btn btn-primary" th:href="@{/nuevaCompra}">Cancelar</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	</br></br>

	<div th:replace="fragments/footer :: footer" />
</body>

</html>