<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<title>Menú compras TODO1!</title>
	<div th:replace="fragments/header :: header-css" />
</head>

<body>
	<div th:replace="fragments/header :: header" />

	<div class="container">
		<div class="alert alert-danger" role="alert" th:if="${compras.empty}">
			<strong>No existen compras!!!</strong>
		</div>

		<div class="col-12 col-md-10">

			<h3>LISTA DE COMPRAS</h3>
			<table class="table"><caption>Compras realizada por el usuario</caption>

				<thead>
					<tr>
						<th scope>id</th>
						<th scope>Nombre</th>
						<th scope>Precio Total ($)</th>
						<th scope>Productos</th>
						<th scope></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="compra : ${compras}">
						<td th:text="${compra.id}"></td>
						<td th:text="${compra.nombreCompra}"></td>
						<td th:text="'$' + ${compra.precioTotal}"></td>
						<td>
							<!--Tabla de productos -->
							<table class="table"><caption></caption>
								<thead>
									<tr>
										<th scope>Nombre</th>
										<th scope>cantidad</th>
										<th scope>Precio Unit</th>
										<th scope>Monto</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="compraProducto : ${compra.compraProductos}">
										<td th:text="${compraProducto.producto.nombre}"></td>
										<td th:text="${compraProducto.cantidad}"></td>
										<td th:text="'$' + ${compraProducto.producto.precio}"></td>
										<td th:text="'$' + ${compraProducto.producto.precio} * ${compraProducto.cantidad} "></td>
									</tr>
								</tbody>
							</table>
							<!-- fin Tabla de productos -->
						</td>

						<td>
							<a class="btn btn-danger" th:href="@{'/borrarCompra/' + ${compra.id}}">Eliminar</a>
							<a class="btn btn-warning" th:href="@{'/editarCompra/' + ${compra.id}}">Editar</a>
						</td>
					</tr>
				</tbody>
			</table>
			</br>
			<div class="abs-center">
				<a class="btn btn-primary" th:href="@{/nuevaCompra}">Alta</a>
				<a class="btn btn-primary" sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin}">Volver Admin</a>
				<a class="btn btn-primary" sec:authorize="hasAuthority('USER')" th:href="@{/user}">Volver Usuario</a>
					
				
			</div>
		</div>


	</div>
	</br></br>


	<div th:replace="fragments/footer :: footer" />



</body>

</html>