<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Menú edición compra TODO1!</title>
	<div th:replace="fragments/header :: header-css" />
</head>

<body>
	<div th:replace="fragments/header :: header" />



	<div class="container">
		<div class="card bg-dark">
			<div class="card-header">
				<h3>EDICION COMPRA</h3>
			</div>
			<div class="card-body">
				<div class="col-sm-6">
					-->FALTA COMPLETAR
					<a class="btn btn-primary" th:href="@{/compras}">Cancelar</a>
				</div>
			</div>
		</div>
	</div>
	</br></br>

	<div th:replace="fragments/footer :: footer" />
</body>

</html>