<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Menú edicion producto TODO1!</title>
	<div th:replace="fragments/header :: header-css" />
</head>

<body>
	<div th:replace="fragments/header :: header" />

	<div class="container">
		<div class="card bg-dark">
			<div class="card-header">
				<h3>MODIFICACION PRODUCTO</h3>
			</div>
			<div class="card-body">
				<form th:action="@{/modificarProducto}" th:object="${producto}" method="post">
				
					
					<div class="form-group row">
						<div class="col-sm-9">
							<input class="col-sm-9" type="hidden" th:field="${producto.id}">
							<input class="col-sm-9" type="hidden" th:field="${producto.fechaAlta}">
							<input class="col-sm-9" type="hidden" th:field="${producto.estado}">
						</div>
					</div>
					
					
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-9">
							<input class="col-sm-9" type="text" th:field="${producto.nombre}" placeholder=" Ingrese Nombre">
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Descripción</label>
						<div class="col-sm-6">
							<textarea  rows="5" cols="88" th:field="${producto.descripcion}"  placeholder=" Ingrese Descripción"/>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Código</label>
						<div class="col-sm-6">
							<input type="number" th:field="${producto.codigo}"  placeholder="Ingrese Código">
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Precio</label>
						<div class="col-sm-6">
							<input type="number"  step=".05"  th:field="${producto.precio}">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Cantidad</label>
						<div class="col-sm-6">
							<input type="number" th:field="${producto.cantidad}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6">
							<form>
								<input class="btn btn-primary" type="submit" value="Modificar" />
							</form>
							<a class="btn btn-primary" th:href="@{/productos}">Cancelar</a>
							<a class="btn btn-primary" th:href="@{/menu}">Salir</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	</br></br>

	<div th:replace="fragments/footer :: footer" />
</body>

</html>