<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Menú edición comopra producto TODO1!</title>
	<div th:replace="fragments/header :: header-css" />
</head>

<body>
	<div th:replace="fragments/header :: header" />



	<div class="container">
		--> COMPLETAR
		<div class="form-group">
			<div class="col-sm-6">

				<a class="btn btn-primary" th:href="@{/nuevaCompra}">Cancelar</a>
			</div>
		</div>
	</div>
	</br></br>

	<div th:replace="fragments/footer :: footer" />
</body>

</html>