<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<title>Menú usuarios TODO1!</title>
	<div th:replace="fragments/header :: header-css" />
</head>

<body>
	<div th:replace="fragments/header :: header" />

	<div class="container">
		<div class="alert alert-danger" role="alert" th:if="${empleados.empty}">
			<strong>No existen usuarios!!!</strong>
		</div>

		<div class="col-12 col-md-10">

			<h3>LISTA DE USUARIOS</h3>
			<table class="table"><caption>Usuarios del sistema</caption>
				<thead>
					<tr>
						<th scope>id</th>
						<th scope>Fecha Alta</th>
						<th scope>Nombre</th>
						<th scope>Apellido</th>
						<th scope>Alias</th>
						<th scope>Roles</th>
						<th scope></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="empl : ${empleados}">
						<td th:text="${empl.id}"></td>
						<td th:text="${#dates.format(new java.util.Date(empl.fechaAlta), 'dd-MM-yyyy')}"></td>
						<td th:text="${empl.nombre}"></td>
						<td th:text="${empl.apellido}"></td>
						<td th:text="${empl.alias}"></td>
						<td th:text="${empl.rolesString}"></td>
						<td>
							<a class="btn btn-danger" th:href="@{'/borrarEmpleado/' + ${empl.id}}">Eliminar</a>
							<a class="btn btn-warning" th:href="@{'/editarEmpleado/' + ${empl.id}}">Editar</a>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="abs-center">
				<a class="btn btn-primary" th:href="@{/nuevoEmpleado}">Alta</a>
				<a class="btn btn-primary" th:href="@{/admin}">Volver</a>
			</div>
		</div>




	</div>
	</br></br>


	<div th:replace="fragments/footer :: footer" />



</body>

</html>