<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<title>Menú TODO1!</title>
	<div th:replace="fragments/header :: header-css" />
</head>

<body>

	<div th:replace="fragments/header :: header" />

	<div class="container">
		<h1 th:inline="text">Bienvenido [[${#httpServletRequest.remoteUser}]]!</h1>
	       
	       <th:block sec:authorize="isAuthenticated()">
				<ul class="nav nav-pills bg-light ">
			
					<li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
						<a th:href="@{/admin}">Acceso Administrador</a>
					</li>
					<li class="nav-item" sec:authorize="hasAuthority('USER')">
						 <a th:href="@{/user}">Acceso Usuario</a>
					</li>
				</ul>
			</th:block>
	
	         </br></br>
	         <form th:action="@{/logout}" method="post">
	            <input class="btn btn-primary" type="submit" value="Cerrar Sesion"/>
	        </form>
	        
	       
       </div>
       </br></br>
       
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>