<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Menú nuevo usuario TODO1!</title>
	<div th:replace="fragments/header :: header-css" />
</head>

<body>
	<div th:replace="fragments/header :: header" />

	<div class="container">
		<div class="card bg-dark">
			<div class="card-header">
				<h3>NUEVO USUARIO</h3>
			</div>
			<div class="card-body">
				<form th:action="@{guardarEmpleado}" th:object="${empleado}" method="post">
				
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-6">
							<input type="text" th:field="${empleado.nombre}"  placeholder=" Ingrese nombre">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Apellido</label>
						<div class="col-sm-6">
							<input type="text" th:field="${empleado.apellido}"  placeholder=" Ingrese apellido">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Alias</label>
						<div class="col-sm-6">
							<input type="text" th:field="${empleado.alias}"  placeholder=" Ingrese alias">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Clave</label>
						<div class="col-sm-6">
							<input type="text" th:field="${empleado.clave}"  placeholder=" Ingrese clave">
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Administrador</label>
						<div class="col-sm-6">
							<input type="checkbox" th:field="${empleado.admin}"/>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-6">
							<form>
								<input class="btn btn-primary" type="submit" value="Crear" />
							</form>
							<a class="btn btn-primary" th:href="@{/empleados}">Cancelar</a>
							<a class="btn btn-primary" th:href="@{/menu}">Salir</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	</br></br>

	<div th:replace="fragments/footer :: footer" />
</body>

</html>