<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Menú nueva compra TODO1!</title>
	<div th:replace="fragments/header :: header-css" />

	<script type="text/javascript">
		function actualizarPrecio(cantidad) {
			alert(cantidad);
		}
	</script>
</head>

<body>
	<div th:replace="fragments/header :: header" />

	<div class="container">
		<div class="card bg-dark">
			<div class="alert alert-dark">
				<h3>NUEVA COMPRA</h3>
			</div>
			
			
			
			<div class="container">
				<form th:action="@{guardarCompra}" th:object="${compra}" method="post">
				
				<!-- https://www.baeldung.com/spring-thymeleaf-error-messages  -->
	
				<div th:if="${#fields.hasAnyErrors()}">
				    <ul>
				        <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
				    </ul>
				</div>
				
				<div th:if="${#fields.hasErrors('global')}">
				    <h3>Global errors:</h3>
				    <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
				</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-9">
							<input class="col-sm-9" type="text" th:field="${compra.nombreCompra}"
								placeholder=" Ingrese nombre">
						</div>
					</div>


					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Precio Total</label>
						<div class="col-sm-9">
							<input type="text" readonly th:field="${compra.precioTotal}">
							
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Productos agregados</label>
						<div class="col-sm-9">
							<table class="table"> <caption/>
								<thead>
									<tr>
										<th scope>Id</th>
										<th scope>Código</th>
										<th scope>Nombre</th>
										<th scope>Cantidad</th>
										<th scope>Precio Unit</th>
										<th scope>Monto</th>
										<th scope>
										<!-- Hacer un form y postear el formulario para no perderlo-->
											<a class="btn btn-primary" th:href="@{'/agregarCompraProd'}">Agregar</a>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="cProd,iterador : ${compra.compraProductos}">
										<td th:text="${cProd.producto.id}"></td>
										<td th:text="${cProd.producto.codigo}"></td>
										<td th:text="${cProd.producto.nombre}"></td>
										<td th:text="${cProd.cantidad}"></td>
										<td th:text="'$' + ${cProd.producto.precio}"></td>
										<td th:text="'$' + ${cProd.producto.precio} * ${cProd.cantidad} "></td>
										<td>
											<a class="btn btn-danger"  th:href="@{'/eliminarCompraProd/' + ${iterador.index}}">Eliminar  <em class="fa fa-trash"></em></a>
											<a class="btn btn-warning" th:href="@{'/editarCompraProd/' + ${iterador.index}}">Editar <em class="fa fa-edit"></em></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>



				

					<div class="form-horizontal">
						<input class="btn btn-primary" type="submit" value="Comprar" />
						<a class="btn btn-primary" th:href="@{/compras}">Cancelar</a>
						<a class="btn btn-primary" th:href="@{/menu}">Salir</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	</br></br>

	<div th:replace="fragments/footer :: footer" />
</body>

</html>