<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<title>Menú productos TODO1!</title>
	<div th:replace="fragments/header :: header-css" />
</head>

<body>
	<div th:replace="fragments/header :: header" />

	<div class="container">
		<div class="alert alert-danger" role="alert" th:if="${productos.empty}">
			<strong>No existen productos!!!</strong>
		</div>

		<div class="col-12 col-md-10">

			<h3>LISTA DE PRODUCTOS</h3>
			<table class="table"><caption>Productos disponibles</caption>
				<thead>
					<tr>
						<th scope>id</th>
						<th scope>Codigo</th>
						<th scope>Fecha Alta</th>
						<th scope>Cantidad</th>
						<th scope>Nombre</th>
						<th scope>Descripción</th>
						<th scope>Precio</th>
						<th scope></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="prod : ${productos}">
						<td th:text="${prod.id}"></td>
						<td th:text="${prod.codigo}"></td>
						<td th:text="${#dates.format(new java.util.Date(prod.fechaAlta), 'dd-MM-yyyy')}"></td>
						<td th:text="${prod.cantidad}"></td>
						<td th:text="${prod.nombre}"></td>
						<td th:text="${prod.descripcion}"></td>
						<td th:text="'$' + ${prod.precio}"></td>
						<td>
							<a class="btn btn-danger" th:href="@{'/borrarProducto/' + ${prod.id}}">Eliminar</a>
							<a class="btn btn-warning" th:href="@{'/editarProducto/' + ${prod.id}}">Editar</a>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="abs-center">
				<a class="btn btn-primary" th:href="@{/nuevoProducto}">Alta</a>
				<a class="btn btn-primary" th:href="@{/admin}">Volver</a>
			</div>
		</div>


	</div>
	</br></br>


	<div th:replace="fragments/footer :: footer" />



</body>

</html>