<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<title>Menú usuario TODO1!</title>
	<div th:replace="fragments/header :: header-css" />
</head>

<body>
	<div th:replace="fragments/header :: header" />

	<div class="container">

		<h1 th:inline="text">Bienvenido usuario [[${#httpServletRequest.remoteUser}]]!</h1>
	      
	       <th:block sec:authorize="isAuthenticated()">
				<ul class="nav nav-pills bg-light ">
			
					<li class="nav-item" sec:authorize="hasAuthority('USER')">
						<a th:href="@{/compras}">Lista Compras</a>
					</li>
					
				</ul>
			</th:block>
			 </br></br>
			<a class="btn btn-primary" th:href="@{/menu}">Salir</a>
	         
       </div>
       </br></br>
       		
		
		<div th:replace="fragments/footer :: footer"/>
        
        
        
    </body>
</html>